.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size:cover;


}
.carousel-item active{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size:cover;

}
