
 <!-- <nav class="navbar navbar-expand-lg navbar-dark primary-color">     -->
<!-- <nav class="navbar navbar-expand" style=background-color:#54626F;>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'employee' %}">Employees</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'view_employee' %}">View Employees</a>
            </li>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'education' %}">Education</a>
            </li>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'view_education' %}">view education</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'work' %}">Work</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'experience' %}">Experience</a>
            </li>



        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-expand" >
    <div class = "container">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </div>
    <div id="main-nav" class="collapse navbar-collapse navStyle">
        <img src="/static/images/logo.png" alt="Logo" style="width:150px;">
        <!-- <img class="d-block w-100 img-fluid"  src="/static/images/logo.png"> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'employee' %}">Employees</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'view_employee' %}">View Employees</a>
            </li>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'education' %}">Education</a>
            </li>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'view_education' %}">view education</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'work' %}">Work</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'experience' %}">Experience</a>
            </li>
        </ul>
    </div>
</div>
  </nav>

