{% extends 'base.html'%}

{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container-fluid">
  
    <div class="container-fluid content">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="font-weight-bold" id="user-title"> Employee's Education Background</h3>
        </div>
        
        <table id="usersData" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          
          <thead>
            <tr>
              <th class="bottom-th">Secondary School
              </th>
              <th class="bottom-th">Higher Education
              </th>
              <th class="bottom-th">Level of Education
              </th>
              <th class="bottom-th">Course
              </th>

              <th class="bottom-th">Other Certificates
              </th>
              
              <th class="bottom-th">Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for educations in educations %}
            <tr>
              <td class="pt-3-half" contenteditable="true">Lorry </td>
              <td class="pt-3-half" contenteditable="true">Kibera</td>
              <td class="pt-3-half" contenteditable="true">Peter</td>
              <td class="pt-3-half" contenteditable="true">Eddy</td>

              <td class="pt-3-half" contenteditable="true">2011/04/25</td>
    
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <tr>
              <td class="pt-3-half" contenteditable="true">Pick Up</td>
              <td class="pt-3-half" contenteditable="true">Moringa</td>
              <td class="pt-3-half" contenteditable="true">Jemila</td>
              <td class="pt-3-half" contenteditable="true">Lilian</td>

              <td class="pt-3-half" contenteditable="true">2011/07/25</td>
              
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            <tr>
              <td class="pt-3-half" contenteditable="true">Van</td>
              <td class="pt-3-half" contenteditable="true">Junction</td>
              <td class="pt-3-half" contenteditable="true">Lilian</td>
              <td class="pt-3-half" contenteditable="true">Anthony</td>

              <td class="pt-3-half" contenteditable="true">2009/01/12</td>
             
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          
        </table>
        
      </div>
    </div>
  



{% for educations in educations %}
<p>{{educations.secondary_shool}}</p>
<p>{{educations.higher_education}}</p>
<p>{{educations.level_of_education}}</p>
<p>{{educations.course}}</p>
<p>{{educations.other_certificates}}</p>
{% endfor %}


</div>
{% endblock %}