
{% extends 'base.html'%}
{% block content %}
<div class="container-fluid">
  
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          {% for master in masters %}
          <!-- Card -->
          <div class="card">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="/static/{{master.image}}"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
          {% endfor %}
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>
        <div class="col mb-4">
          <!-- Card -->
          <div class="card">
      
            <!--Card image-->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <div class="card-body">
      
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
              <button type="button" class="btn btn-light-blue btn-md">Read more</button>
      
            </div>
      
          </div>
          <!-- Card -->
        </div>
      </div>
    {% for master in masters %}
    <p>{{master.first_name}}</p>
    <p>{{master.other_names}}</p>
    <p>{{master.nssf_number}}</p>
    <p>{{master.nhif_number}}</p>
    <p>{{master.date_of_birth}}</p>
    <p>{{master.employee_number}}</p>
    <p>{{master.employee_position}}</p>
    <img src="/static/{{master.image}}"></img>
    {% endfor %}

</div>
{% endblock %}