{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4">
      
    </div>
    <div class="col-md-6">

      <br>
      <br>
      <br>
      
     <div id="phone" style="float:center">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h1 class="text-center"><em>SIGN UP</em></h1>
        </div>
        <div class="panel-body">
            <p><b>Register into neighbourhood to see your area</b></p>
        <a class="btn btn-primary" href="/accounts/sign_up">sign up</a>
            <p><b>Click here to login</b></p>
        <a class="btn btn-primary" href="/accounts/login/">Login</a>

        </div>

      </div>
    </div>
    </div>


    
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}