{% extends 'base.html'%}

​{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-6">
        <form action="{% url 'work' %}" method="POST" class='form-group'>
          <div class="form-group">

            {%csrf_token%}

            {{form }}
            

            <input type="submit" class="btn btn-success btn-lg" value="submit">

          </div>
        </form>

       
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
</div>
{% endblock%}